
  <label for="cat_name">Name: </label>
  <input type="text" name="cat[name]" id="cat_name" value="<%= @cat.name %>">

  <br>

  <label for="cat_age">Age: </label>
  <input type="text" name="cat[age]" id="cat_age" value="<%= @cat.age %>">

  <br>

  <label for="cat_sex">Sex: </label>
  <input type="radio" name="cat[sex]" id="cat_sex_female" value="F"
    <%= "checked" if @cat.sex == "F" %>>
    <label for="cat_sex_female">Female</label>
  <input type="radio" name="cat[sex]" id="cat_sex_male" value="M"
    <%= "checked" if @cat.sex == "M" %>>
    <label for="cat_sex_male">Male</label>

  <br>

  <label for="cat_coat_color">Color: </label>
  <select name="cat[color]" id="cat_coat_color">
    <% Cat::COLORS.each do |color|%>
      <option value="<%=color%>"
        <%= @cat.color == color ? "selected" : ""%>><%=color%>
      </option>
    <% end %>
  </select>

  <br>

  <label for="cat_birth_date">Birthday: </label>
  <input type="date" name="cat[birth_date]" value="<%= @cat.birth_date %>">

  <br>


