<h1><%= @cat.name %></h1>
<ul>
  <li><b>Name:  </b> <%= @cat.name %></li>
  <li><b>Age:  </b><%= @cat.age %></li>
  <li><b>Color:  </b><%= @cat.color.capitalize %></li>
  <li><b>Sex:  </b><%= @cat.sex %></li>
  <li><b>Birthday:  </b><%= @cat.birth_date %></li>
</ul>

<body>
